<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="./images/cloud.svg" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js" defer></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{ message }}</p>
        <form class="weather__form">
            <div class="weather__form--input">
                <input type="text" placeholder="Enter an address">
                <small class="input-error"></small>
            </div>
            <button type="submit">search</button>
        </form>

        <div class="weather__response">

        </div>
    </div>
    {{>footer}}
</body>
</html>