body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin:0 auto;
    padding: 0 16px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888;
    border-top: 2px solid #eee;
    padding: 16px 0;
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.about-img {
    object-fit: contain;
    width: 400px;
}

.app-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.weather__form {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    flex-wrap: wrap;
}

.weather__form--input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.weather__form--input input {
    font-size: 1.5rem;
}

.weather__form button {
    background: #707070;
    color: #eee;
    font-size: 1.5rem;
    cursor: pointer;
}

.weather__form button:hover {
    opacity: .9;
}


.weather__form--input small {
    font-size: .7rem;
    display: block;
    color: red;
}