<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Weather App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1>About the app hbs</h1>
    <img src="./images/basic.jpg" alt="Basic image" class="about-img">
</body>
</html>